body {
    margin: 0;
    padding: 0;
    background: #FC8F54;
}

header {
    text-align: center;
    background: #E07B48;
    height: 70px;
}

.columns {
    display: flex;
}

.column {
    background: #F5F5DC;
    height: 100%;
    width: 60%;
}

.column:first-child {
    margin-left: 0;
    background: #B6A28E;
    height: 100%;
    width: 20%;
}

.column:last-child {
    background: #B6A28E;
    height: 100%;
    width: 20%;
}