body {
    background-color: grey;
}

.wrapper {
    background-color: rgb(252, 252, 252);
    padding: 2rem;
    margin-left: 30%;
    width: 90%; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.konten {
    justify-content: center;
    display: grid;
}

.input {
    gap: 30px;
    display: flex;
}

select, input {
    padding: 0.5rem;
    border: none;
    background-color: whitesmoke;
    font-family: Lato;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

input:focus-within {
    box-shadow: 0px 4px 10px gray;
}

select:hover {
    box-shadow: 0px 4px 10px gray;
    transition: 0.1s ease-in-out;
    transform: scale(1.01);
}

.input-group1{
    display: flex;
    gap: 168px;
    padding-top: 30px;
}

.input-group2 {
    display: flex;
    gap: 178px;
    padding-top: 10px;
}

button {
    margin-top: 5px;
    border-radius: 3px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    box-shadow: 0px 4px 10px #F9B572;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

#convertedTemperature {
    font-size: 1.2em;
    font-weight: bold;
    color: purple;
}

.hidden {
    display: none;
}